#kakapo {
    background: url(../Images/Kakapo.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;
}

#pukeko{
    background: url(../Images/Pukeko.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;
}

#keruru{
    background: url(../Images/Keruru.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;

}

button:focus {background-color:  rgb(52, 52, 57);}

#kakapotab{
    background: url(../Images/Kakapo.jpg) no-repeat center; 
    background-size: cover; 
    padding:inherit;
    display:block;
}



p{
    size:0.2vh;
}



#pukekotab{
    display:none;
    background: url(../Images/Pukeko.jpg) no-repeat center; 
    background-size: cover; 
    padding:inherit;
}
    
#kerurutab{
    display:none;
    background: url(../Images/Keruru.jpg) no-repeat center; 
    background-size: cover; 
    padding:inherit;
}
    
#tabbutton{
    position: fixed;
    bottom:2%;
    left:1%;
    background-color: rgb(34, 34, 42);
    box-shadow: 0.8vh 0.8vh  rgb(88, 88, 91);
}


div img{
    border: 0.4vh solid white;
    transition: 0.3s;
}


.tabs{
    padding-bottom: 50vh;
}

#details{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 10vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
}

#content{
    background-color: rgb(34, 34, 42);
    margin: auto;
    padding: 2vh;
    border: 1vh solid rgb(34, 34, 42);
    width: 80%;
}

#details_button{
    position: fixed;
    bottom:2%;
    right:1%;
    background-color: rgb(34, 34, 42);
    box-shadow: 0.8vh 0.8vh  rgb(88, 88, 91);
}