div img{
    width:90%;
    border:0.4vh solid white; 
}

#landscape {
    background: url(../Images/MountainView.jpg) no-repeat center;
    background-size: cover;
    padding: inherit;
}

#pause {
    position: fixed;
    right:3%;
    bottom:3%;
    box-shadow: 0.8vh 0.8vh  rgb(88, 88, 91);
}


