#background {
    background: url(..//Images/Dark.jpg)
    no-repeat center;
    background-size: cover;
    padding:inherit;
}

#details{
    padding-top:50vh;
    
}

form {
    overflow: hidden;
}

label{
    color:white;
    float:left;
    padding-right: 5vh;
    width:30vh;
}

input{
    float:left;
    width:calc(100%-15vh);

}

button{
    float:left;
}

#information{
    height: 10vh;
}

.logo {
    width: 400px;
    height: 130px;
    float:left;
    padding: 3vh 3vh;

}

nav {
    float:right;
    padding:10vh 5vh;
}

li {
    display: inline-block;
}

nav li a {
    font-size: 6vh;
    color: white;
    padding: 3vh;
    text-decoration: none;
    
}

.heading {
    color: white;
    font-size: 7.5vh;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.518);
}
