label{
    color:white;
}

.logo {
    width: 400px;
    height: 130px;
    float:left;
    padding: 3vh 3vh;

}

nav {
    float:right;
    padding:5vh 5vh;
}

li {
    display: inline-block;
}

nav li a {
    font-size: 5vh;
    color: white;
    padding: 1vh;
    text-decoration: none;
    
}

.heading {
    color: white;
    font-size: 7.5vh;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.518);
}

div {
    background-color: rgba(25, 25, 25, 0.518);
}