#main {

    background: url(../Images/Cabin.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;

}

/*header {
    background-color: rgba(25, 25, 25, 0.518);
}*/ 

#cabin {

    background: url(../Images/cabin_exterior.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;
}

#landscape {

    background: url(../Images/mountain_view_1.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;
}

.logo {
    width: 60vh;
    height: 20vh;
    float:left;
    padding: 3vh 3vh;

}

nav {
    float:right;
    padding:10vh 5vh;
}

li {
    display: inline-block;
}

nav li a {
    font-size: 6vh;
    color: white;
    padding: 3vh;
    text-decoration: none;
    
}

.heading {
    color: white;
    font-size: 7.5vh;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.518);
}

.headingbox {
    padding-top: 50vh;
    padding-bottom: 50vh;
}

.subheading {
    color: white;
    font-size: 6vh;
    text-align: center;
}

.text {
    color: white;
    font-size: 3vh;
    text-align: center;
}

.subbox {
    width: 30vh;
    border: 1vh white;
    /*background-color:  rgba(195, 195, 195, 0.518); */
    padding:10vh;
}


section {
    text-align: center;
}

#subsection {
    padding-bottom: 30vh;
}

th, td { 
    color:white;
}

table, th, td {
    border:0.5vh solid white;
}

table {
    padding:5vh;
}

#cabininformation {
    background-color: rgba(25, 25, 25, 0.518);
    padding:5vh;
}


p{
    color:white;
}

header{
    height:25vh;
    background-color: rgba(25, 25, 25, 0.518);

}