#main {

    background: url(../Images/Cabin.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;

}

/*header {
    background-color: rgba(195, 195, 195, 0.518);
} */

#cabin {

    background: url(../Images/cabin_exterior.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;
}

#landscape {

    background: url(../Images/mountain_view_1.jpg)
    no-repeat center;
    background-size: cover;
    padding: inherit;
}

.logo {
    width: 400px;
    height: 130px;
    float:left;
    padding: 15px 15px;

}

nav {
    float:right;
    padding:50px 50px;
}

li {
    display: inline-block;
}

nav li a {
    font-size: 50px;
    color: white;
    padding: 20px;
    text-decoration: none;
    
}

#heading {
    color: white;
    font-size: 125px;
    text-align: center;
}

#headingbox {
    padding-top:250px;
}

#subheading {
    color: white;
    font-size:50px;
    text-align: center;
}

#text {
    color: white;
    font-size: 20px;
    text-align: center;
}

#subbox {
    width: 300px;
    border-color: white;
    /*background-color:  rgba(195, 195, 195, 0.518); */
}

#subsection {
    padding: 150px;
    
}
section {
    text-align: center;
}
